label[for="imgUpload"]{
	position: relative;
	float: left;
	top:auto;
}

#imgUpload{
	display: none;  
}

.thumbnail{
	height: 150px;
	width: 150px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	}

.imgCell{
	display: inline-block;
    float: left;
    margin: 5px;
}

}