label[for="imgUpload"]{
	position: relative;
	float: left;
	top:auto;
}

label[for="planUpload"]{
	position: relative;
	float: left;
	top:auto;
}

#imgUpload{
	display: none;  
}

#planUpload{
	display: none;  
}

.thumbnail{
	height: 150px;
	width: 150px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	}

.imgCell{
	display: inline-block;
    float: left;
    margin: 5px;
}

.logo { width: 30px; }


.add-plot{
	position: relative;
	float: left;
	box-shadow: none;
	top: auto;
	border: none;
}
.feature.img{
	margin-right: 5px;
}

.property-size input{margin-bottom: 10px;}

.angular-google-map-container { height: 400px; }
