

	    <div class="main">
	        <div class="main-inner">
	        		        
					<div class="content-title">
	<div class="content-title-inner">
		<div class="container">		
			<h1>SUSHMA Elite Cross</h1>		

			<ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li><a href="properties.html">Properties</a></li>
				<li class="active">Standard Detail</li>
			</ol>			
		</div><!-- /.container -->
	</div><!-- /.content-title-inner -->
</div><!-- /.content-title -->
				

	            <div class="content">
	                <div class="container">
	<div class="row">
        <div class="col-sm-12">
            <div class="listing-detail-attributes">
    <div class="listing-detail-attribute">
        <div class="key">Company</div>
        <div class="value">

            SUSHMA
        </div>
    </div><!-- /.listing-detail-attribute -->   

    <div class="listing-detail-attribute">
        <div class="key">Location</div>
        <div class="value">Chandigarh, Punjab</div>
    </div><!-- /.listing-detail-attribute --> 

    <div class="listing-detail-attribute">
        <div class="key">Price</div>
        <div class="value">&#x20B9; 55.60 - 65.70 Lacs</div>
    </div><!-- /.listing-detail-attribute -->

    <div class="listing-detail-attribute">
        <div class="key">Types</div>
        <div class="value">2BHK, 3BHK</div>
    </div><!-- /.listing-detail-attribute -->                                             
                                            
                            
</div><!-- /.listing-detail-attributes -->            
        </div><!-- /.col-sm-12 -->
        	
		<div class="col-md-8 col-lg-9" ng-init="tab='unit'">
			<ul class="nav nav-tabs nav-tabs-items-2" role="tablist">
				<li class="nav-item">
					<span class="nav-link active" data-toggle="tab" ng-click="tab='basic'">Basic Information</span>
				</li>

				<li class="nav-item">
					<span class="nav-link" data-toggle="tab" ng-click="tab='unit'" >Unit Plans</span>
				</li>	
			</ul>

			<div class="tab-content listing-detail" ng-show="tab==='basic'">
				<div class="tab-pane active" id="property-description" role="tabpanel">
					<div class="gallery">
	<div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/elitecross.jpg');">
	</div><!-- /.gallery-item -->   
    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0005.jpg');">
    </div><!-- /.gallery-item -->            

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0006.jpg');">
    </div><!-- /.gallery-item -->  

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0009.jpg');">
    </div><!-- /.gallery-item -->    

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0010.jpg');">
    </div><!-- /.gallery-item -->    

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0013.jpg');">
    </div><!-- /.gallery-item -->    

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0015.jpg');">
    </div><!-- /.gallery-item -->    

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0017.jpg');">
    </div><!-- /.gallery-item -->    

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0019.jpg');">
    </div><!-- /.gallery-item -->    

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0020.jpg');">
    </div><!-- /.gallery-item -->    

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0021.jpg');">
    </div><!-- /.gallery-item -->      

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0022.jpg');">
    </div><!-- /.gallery-item -->      

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0024.jpg');">
    </div><!-- /.gallery-item -->      

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0025.jpg');">
    </div><!-- /.gallery-item -->      

    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/IMG-20160407-WA0026.jpg');">
    </div><!-- /.gallery-item -->                
</div><!-- /.gallery -->

<div class="row">            
    <div class="col-lg-5">
        <div class="overview">
            <h2>Property Attributes</h2>

            <ul>
                <li><strong>Price</strong><span>&#x20B9; 2,500 - 2,750 per sqft</span></li>
                <li><strong>Location</strong><span>Chandigarh, Punjab</span></li>
                <li><strong>Status</strong><span>Completed</span></li>
                <li><strong>Type</strong><span>Appartment</span></li>
                <li><strong>Area</strong><span>1,685-1,825 sqft</span></li>                    
            </ul>
        </div><!-- /.overview -->
    </div><!-- /.col-* -->

    <div class="col-lg-7">
        <h2>Property Description</h2>

        <p>
          At SUSHMA Buildtech, we believe in adding value to our customers in terms of Innovation, Quality, Financial Benefits & Service. Under same initiative, this time we have introduced MATCHLESS FINANCIAL BENEFITS at SUSHMA Elite Cross. For a very Limited period of time, we have introduced Special prices for Limited units at Elite Cross.
           
        </p>
    </div><!-- /.col-* -->
</div><!-- /.row -->

<h2>Key Details</h2>

        <ul>
        	<li>Located at SUSHMA Square Zirakpur, SUSHMA Elite Cross is an architectural marvel that offers both luxury and opulence. </li>
        	<li>The Elite Cross perhaps is the only with 3 BHK Apartments in Chandigarh that has unobstructed panoramic view from all areas.</li> 
        	<li>We  have conducted more than 55000 Quality tests, To Give You A SUPERIOR AND AN UNCOMPROMISED HOME. </li>
        </ul>

 <h2>Key Amenities</h2>

        <ul>
        	<li>Located at SUSHMA Square Zirakpur, SUSHMA Elite Cross is an architectural marvel that offers both luxury and opulence. </li>
        	<li>The Elite Cross perhaps is the only with 3 BHK Apartments in Chandigarh that has unobstructed panoramic view from all areas.</li> 
        	<li>We  have conducted more than 55000 Quality tests, To Give You A SUPERIOR AND AN UNCOMPROMISED HOME. </li>
        </ul>

  <h2>Location Benefits</h2>

         <ul>
         	<li>Strategically situated adjacent to the upcoming 200-ft wide Ring Road which easily connects to Himachal, Punjab,Haryana ,Delhi & Chandigarh.</li>
         	<li>Adjacent to 9 Acre Lush Green operational park improving quality of life.</li>
         	<li>Close to the Chandigarh-Ambala highway.</li>
         	<li>Closely Connected to International Airport via 200ft. wide Ring road.</li>
         	<li>There are hospitals, schools, malls and shopping centres all around, making life here an everyday delight</li>
         </ul>

    <h2>Social Amenities</h2>

         <ul>
         	<li>Strategically situated adjacent to the upcoming 200-ft wide Ring Road which easily connects to Himachal, Punjab,Haryana ,Delhi & Chandigarh.</li>
         	<li>Adjacent to 9 Acre Lush Green operational park improving quality of life.</li>
         	<li>Close to the Chandigarh-Ambala highway.</li>
         	<li>Closely Connected to International Airport via 200ft. wide Ring road.</li>
         	<li>There are hospitals, schools, malls and shopping centres all around, making life here an everyday delight</li>
         </ul>

      <h2>Why Buy Property Here?</h2>

         <ul>
         	<li>Strategically situated adjacent to the upcoming 200-ft wide Ring Road which easily connects to Himachal, Punjab,Haryana ,Delhi & Chandigarh.</li>
         	<li>Adjacent to 9 Acre Lush Green operational park improving quality of life.</li>
         	<li>Close to the Chandigarh-Ambala highway.</li>
         	<li>Closely Connected to International Airport via 200ft. wide Ring road.</li>
         	<li>There are hospitals, schools, malls and shopping centres all around, making life here an everyday delight</li>
         </ul>


<h2>Amenities</h2>

<ul class="amenities">
    <li><img src="images/safety/Fire_Alarm.png" class=" feature img img-responsive" width="30px">Smoke/Heat Sensors</li>
    <li><img src="images/safety/Phone.png" class=" feature img img-responsive" width="30px">Intercom Facility</li>
    <li><img src="images/convenience/Air_Conditioner.png" class=" feature img img-responsive" width="30px">AC Common Areas</li>
    <li><img src="images/convenience/Ambulance.png" class=" feature img img-responsive" width="30px">Medical Facilities</li>
    <li><img src="images/convenience/Sun.png" class=" feature img img-responsive" width="30px">Solar Heating</li>
    <li><img src="images/convenience/Home.png" class=" feature img img-responsive" width="30px">Guest House</li>
    <li><img src="images/convenience/front_desk.png" class=" feature img img-responsive" width="30px">Conceirge Desk</li>
    <li><img src="images/sports/Badminton-50.png" class=" feature img img-responsive" width="30px">Badminton</li>
    <li><img src="images/sports/Cricket-50.png" class=" feature img img-responsive" width="30px">Cricket</li>
    <li><img src="images/sports/Golf-50.png" class=" feature img img-responsive" width="30px">Golf</li>
    <li><img src="images/sports/Swimming-50.png" class=" feature img img-responsive" width="30px">Swimming Pool</li>
    <li><img src="images/sports/Football-50.png" class=" feature img img-responsive" width="30px">Football</li>
    <li><img src="images/sports/Bowling-50.png" class=" feature img img-responsive" width="30px">Bowling</li>
    <li><img src="images/sports/Rollerblade-50.png" class=" feature img img-responsive" width="30px">Skating Rink</li>
    <li><img src="images/sports/Tennis-50.png" class=" feature img img-responsive" width="30px">Tennis</li>
    <li><img src="images/sports/Volleyball-50.png" class=" feature img img-responsive" width="30px">Volleyball</li>
    <li><img src="images/sports/Yoga-50.png" class=" feature img img-responsive" width="30px">Yoga Areas</li>
    <li><img src="images/leisure/Cards.png" class=" feature img img-responsive" width="30px">Cards Room</li>
    <li><img src="images/leisure/Controller.png" class=" feature img img-responsive" width="30px">Games Room</li>
    <li><img src="images/leisure/DJ.png" class=" feature img img-responsive" width="30px">Club House</li>
    <li><img src="images/leisure/Spa.png" class=" feature img img-responsive" width="30px">Massage Room</li>
    <li><img src="images/leisure/Dancing.png" class=" feature img img-responsive" width="30px">Dance Room</li>
    <li><img src="images/leisure/Movie.png" class=" feature img img-responsive" width="30px">Mini Theatre</li>
    <li><img src="images/leisure/Reading.png" class=" feature img img-responsive" width="30px">Library</li>
    <li><img src="images/leisure/Tub.png" class=" feature img img-responsive" width="30px">Jacuzzi</li>
    <li><img src="images/leisure/VIP.png" class=" feature img img-responsive" width="30px">Normal Park</li>
    <li><img src="images/environment/Grass.png" class=" feature img img-responsive" width="30px">Luxurious Clubhouse</li>
    <li><img src="images/environment/Solar_Panel.png" class=" feature img img-responsive" width="30px">Solar Lighting</li>
    <li><img src="images/environment/Piping.png" class=" feature img img-responsive" width="30px">Sewage Treatment Plant</li>


</ul>

					<h2>Land Valuation</h2>    

<p>
    Donec malesuada orci et mi fermentum, ac tincidunt arcu tincidunt. Ut fringilla tellus sem, quis rhoncus dolor condimentum id. Vivamus ut commodo felis. Fusce in lacus egestas, mattis ex et, molestie est.
</p>

<div class="valuation">
    <div class="valuation-item">
        <div class="valuation-item-key">
            Connectivity
        </div><!-- /.valuation-item-key -->

        <div class="valuation-item-value">
            <span style="width: 86%">
                <strong>86%</strong>                            
            </span>
        </div><!-- /.valuation-item-value -->
    </div><!-- /.valuation-item -->

    <div class="valuation-item">
        <div class="valuation-item-key">
            Livability
        </div><!-- /.valuation-item-key -->

        <div class="valuation-item-value">
            <span style="width: 80%">
                <strong>80%</strong>
            </span>
        </div><!-- /.valuation-item-value -->
    </div><!-- /.valuation-item -->

    <div class="valuation-item">
        <div class="valuation-item-key">
            LifeStyle
        </div><!-- /.valuation-item-key -->

        <div class="valuation-item-value">
            <span style="width: 42%">
                <strong>42%</strong>
            </span>
        </div><!-- /.valuation-item-value -->
    </div><!-- /.valuation-item -->  

    <div class="valuation-item">
        <div class="valuation-item-key">
            Value For Money
        </div><!-- /.valuation-item-key -->

        <div class="valuation-item-value">
            <span style="width: 72%">
                <strong>72%</strong>
            </span>
        </div><!-- /.valuation-item-value -->
    </div><!-- /.valuation-item -->                                   
</div><!-- /.valuation -->
				</div><!-- /.tab-pane -->	


						
			</div><!-- /.tab-content -->



						<div class="tab-content listing-detail" ng-show="tab==='unit'">
							<div class="tab-pane active" id="property-description" role="tabpanel">

								<div class="bhk-tabs">
									<span class="tab active">3 BHK</span>
									<span class="tab">2 BHK</span>
								</div>

								<div class="sqft-pills">
									<span class="pill active">1685 SQFT</span>
									<span class="pill">1825 SQFT</span>
								</div>
								<div class="unit-container clearfix">
									<div class="unit-info col-xs-12">
										<span class="unit-title pull-left">3 BHK - 1,685 SQFT</span>
										<span class="unit-price pull-right">
											<span>&#x20B9; 55.60 Lacs</span></br>
											<span class="unit-value">&#x20B9; 2,500 per sqft</span>
										</span>
									</div>
									</br>
								    <div class="gallery-item" style="background-image: url('/images/fwdelitecrosspics/unit_1.png');">
								    </div><!-- /.gallery-item -->         

								   <div class="unit-info-grid">
								   	<div class="grid col-sm-4">
								   		<div class="box-small center">
								   			<span class="unit-number">3</span>
								   			<span class="image">
								   			<img src="/images/unit/bedroom.png">
								   			<p>Bedroom(s)</p>
								   			</span>
								   		</div>
								   	</div>
								   	<div class="grid col-sm-4">
								   		<div class="box-small center">
								   			<span class="unit-number">1</span>
								   			<span class="image">
								   			<img src="/images/unit/living_room.png">
								   			<p>Living Room(s)</p>
								   			</span>
								   		</div>
								   	</div>
								   	<div class="grid col-sm-4">
								   		<div class="box-small center">
								   			<span class="unit-number">1</span>
								   			<span class="image">
								   			<img src="/images/unit/kitchen.png">
								   			<p>Kitchen(s)</p>
								   			</span>
								   		</div>
								   	</div>
								   	<span class="sep col-sm-12"></span>
								   	<div class="grid col-sm-4">
								   		<div class="box-small center">
								   			<span class="unit-number">2</span>
								   			<span class="image">
								   			<img src="/images/unit/shower.png">
								   			<p>Bathroom(s)</p>
								   			</span>
								   		</div>
								   	</div>
								   	<div class="grid col-sm-4">
								   		<div class="box-small center">
								   			<span class="unit-number">3</span>
								   			<span class="image">
								   			<img src="/images/unit/balcony.png">
								   			<p>Balconies</p>
								   			</span>
								   		</div>
								   	</div>
								   	<div class="grid col-sm-4">
								   		<div class="box-small center">
								   			<span class="unit-number">0</span>
								   			<span class="image">
								   			<img src="/images/unit/pavilion.png">
								   			<p>Terrace</p>
								   			</span>
								   		</div>
								   	</div>

								   </div>   
			           
								</div><!-- /.gallery -->

			<div class="row">            
			    <div class="col-lg-5">
			        <div class="overview">
			            <h2>Unit Attributes</h2>

			            <ul>
			                <li><strong>Price</strong><span>&#x20B9; 2,500 per sqft</span></li>
			                <li><strong>Bedrooms</strong><span>3</span></li>
			                <li><strong>Bathrooms</strong><span>2</span></li>
			                <li><strong>Balconies</strong><span>3</span></li>
			                <li><strong>Living Room</strong><span>1</span></li>
			                <li><strong>Kitchen</strong><span>1</span></li>
			                <li><strong>Terrace</strong><span>0</span></li>
			                <li><strong>Area</strong><span>1,685 sqft</span></li>                    
			            </ul>
			        </div><!-- /.overview -->
			    </div><!-- /.col-* -->

			    <div class="col-lg-7">
			        <h2>Unit Description</h2>

			        <p>
			          At SUSHMA Buildtech, we believe in adding value to our customers in terms of Innovation, Quality, Financial Benefits & Service. Under same initiative, this time we have introduced MATCHLESS FINANCIAL BENEFITS at SUSHMA Elite Cross. For a very Limited period of time, we have introduced Special prices for Limited units at Elite Cross.
			           
			        </p>
			    </div><!-- /.col-* -->
			</div><!-- /.row -->
			

			<h2>Area</h2>    

			<p>
			    Donec malesuada orci et mi fermentum, ac tincidunt arcu tincidunt. Ut fringilla tellus sem, quis rhoncus dolor condimentum id. Vivamus ut commodo felis. Fusce in lacus egestas, mattis ex et, molestie est.
			</p>

			<div class="valuation">
			    <div class="valuation-item">
			        <div class="valuation-item-key">
			            Carpet Area
			        </div><!-- /.valuation-item-key -->

			        <div class="valuation-item-value">
			            <span style="width: 55%">
			                <strong>55%</strong>                            
			            </span>
			        </div><!-- /.valuation-item-value -->
			    </div><!-- /.valuation-item -->

			    <div class="valuation-item">
			        <div class="valuation-item-key">
			            Built-Up Area
			        </div><!-- /.valuation-item-key -->

			        <div class="valuation-item-value">
			            <span style="width: 68%">
			                <strong>68%</strong>
			            </span>
			        </div><!-- /.valuation-item-value -->
			    </div><!-- /.valuation-item -->
                                 
			</div><!-- /.valuation -->
			<div class="row">
				<div class="col-sm-6">
				<h2>Room/Private Areas</h2>
					<table class="table table-hover">
					  <thead>
					    <tr>
					      <th></th>
					      <th>Length</th>
					      <th>Breadth</th>
					      <th>Area</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">Master Bedroom</th>
					      <td>100</td>
					      <td>50</td>
					      <td>150 sq ft</td>
					    </tr>
					    <tr>
					      <th scope="row">Second Bedroom</th>
					      <td>100</td>
					      <td>20</td>
					      <td>120 sq ft</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			<div class="col-sm-6">
				<h2>Living+Dining Areas</h2>

				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th></th>
				      <th>Length</th>
				      <th>Breadth</th>
				      <th>Area</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">Living+Dining</th>
				      <td>100</td>
				      <td>80</td>
				      <td>180 sq ft</td>
				    </tr>
				    <tr>
				      <th scope="row">Passage</th>
				      <td>40</td>
				      <td>20</td>
				      <td>80 sq ft</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
		<div class="row">

			<div class="col-sm-6">
			<h2>Open Areas</h2>

			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th></th>
			      <th>Length</th>
			      <th>Breadth</th>
			      <th>Area</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">Terrace</th>
			      <td>0</td>
			      <td>0</td>
			      <td>0 sq ft</td>
			    </tr>
			    <tr>
			      <th scope="row">Utility Balcony</th>
			      <td>7</td>
			      <td>3</td>
			      <td>21 sq ft</td>
			    </tr>
			  </tbody>
			</table>
			</div>

			<div class="col-sm-6">
			<h2>Additional Areas</h2>

			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th></th>
			      <th>Length</th>
			      <th>Breadth</th>
			      <th>Area</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">Kitchen</th>
			      <td>100</td>
			      <td>20</td>
			      <td>120 sq ft</td>
			    </tr>
			    <tr>
			      <th scope="row">Powder Room</th>
			      <td>5</td>
			      <td>6</td>
			      <td>30 sq ft</td>
			    </tr>
			  </tbody>
			</table>
			</div>
		</div>
		</div><!-- /.tab-pane -->	


				
	</div><!-- /.tab-content -->
		</div><!-- /.col-* -->

		<div class="col-md-4 col-lg-3">
			<div class="widget">
    <ul class="nav nav-stacked nav-style-primary">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-share-alt"></i> Share Property
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-heart"></i> Add to Favorites
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-balance-scale"></i> Compare Property
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-envelope"></i> Send By E-mail
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-building"></i> View Agency Detail
            </a>
        </li><!-- /.nav-item -->
                  
    </ul><!-- /.nav-style-primary -->
</div><!-- /.widget -->

   

               
		</div><!-- /.col-* -->
	</div><!-- /.row -->
</div><!-- /.container -->
	            </div><!-- /.content -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->
    </div><!-- /.main-wrapper -->

    <div class="container">
    <div class="call-to-action">
	<div class="call-to-action-inner">
		<div class="call-to-action-title">
			<div class="logo-shape"></div><!-- /.logo-shape -->
			<h1>Real Estate Application Kit</h1>
			<h2>Interested in publishing your property on our website?</h2>
		</div><!-- /.call-to-action-title -->

		<a href="#" class="btn btn-primary">Contact Us</a>
	</div><!-- /.call-to-action-inner -->
</div><!-- /.call-to-action -->
</div>


	<div class="customizer-title">
		<span><i class="fa fa-cog"></i> Customizer</span>
	</div><!-- /.customizer-title -->
</div><!-- /.customizer -->


</body>
</html>
<script>
 $('.listing-carousel').owlCarousel({
 	items: 4,
 	margin: 30,
 	nav: true,
 	navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
 	responsive: {
 		0: {
 			items: 1
 		},
 		540: {
 			items: 2
 		},	
 		766: {
 			items: 2
 		},
 		990: {
 			items: 3
 		},
 		1200: {
 			items: 4
 		}	 		
 	}
 });

/**
 * Cover carousel
 */
 $('.cover-carousel').owlCarousel({
 	items: 1,
 	nav: true,
 	navText: ['<img src="assets/img/lnr-chevron-left.svg" alt="">', '<img src="assets/img/lnr-chevron-right.svg" alt="">']
 });

/**
 * Image gallery
 */
 $('.gallery').owlCarousel({
 	autoplay: 3000,
 	items: 1,
 	nav: true,
 	navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>']
 });
</script>