 <div class="main">
    <div class="main-inner">
        <div class="content">
            <div class="container">
                 <div class="row">
                     <div class="col-md-8 col-lg-9">
                         <div class="content">
                             <form method="post" action="?">

                                <div class="page-header page-header-small">
                                    <h3>Project Info</h3>
                                    
                                </div>
                                <!-- /.page-header -->
                                <div class="form-group">
                                    <label>Name of the project</label>
                                    <input type="text" class="form-control" ng-model="property.title">
                                </div>
                                <div class="form-group">
                                    <label>About the project</label>
                                    <textarea type="text" class="form-control" ng-model="property.about"/>
                                </div>
                                <!-- /.form-group -->
                                <label>Property Images</label>
                                <!-- /.page-header -->
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="header-action" for="imgUpload">
                                               <i class="fa fa-upload"></i> <span>Upload Images</span>                                
                                            </label>
                                            <input type='file' name='location.img' id='imgUpload' accept="image/*" 
                                                ng-model="Uploadimages" base-sixty-four-input thumbnailbox= "imgThumbs" onprogress="loaderStart" onloadend="loaderStop" multiple/>
                                        </div>
                                        <div class="image-container">
                                            <span ng-repeat="image in property.images"  style="background-image:url(data:image/*;base64,{{property.images[$index].base64}})">
                                                <i class="fa fa-times" ng-click="removeImage($index)"></i>
                                            </span>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                </div>

                                <div class="row">                                
                                    <div id="imgThumbs"></div>
                                </div>
                                <!-- /.form-group -->
                                <div class="page-header page-header-small">
                                    <h3>Wow Factors</h3>
                                </div>
                                <!-- /.page-header -->

                                <div class="form-group">
                                    <label>What are the key details of this project?</label>
                                    <textarea type="text" class="form-control" ng-model="property.key_details"/>
                                </div>
                                <div class="form-group">
                                    <label>What are the key amenities of this project?</label>
                                    <textarea type="text" class="form-control" ng-model="property.key_amenities"/>
                                </div>
                                <div class="form-group">
                                    <label>What are the location benefits of this project?</label>
                                    <textarea type="text" class="form-control" ng-model="property.location_benefits"/>
                                </div>
                                <div class="form-group">
                                    <label>What are the social amenities near by?</label>
                                    <textarea type="text" class="form-control" ng-model="property.social_amenities"/>
                                </div>
                                <div class="form-group">
                                    <label>Why should I buy property here?</label>
                                    <textarea type="text" class="form-control" ng-model="property.why_buy"/>
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input type="text" class="form-control" places-auto-complete on-place-changed="myCallback()" ng-model="property.address">
                                </div>
                                    <!-- /.col-* -->
                                <ng-map center="current-location" zoom="14">
                                    <marker position="{{property.geolocation}}"  on-dragend="myfunc($event)"  draggable="true" title="{{address}}"></marker>
                                </ng-map>

                                <!-- /.row -->
                                
                                <div class="page-header page-header-small">
                                    <h3>Amenities</h3>
                                </div>
                                <!-- /.page-header -->
                                 <label>Sports</label>
                                <div class="checkbox-list">
                                    <div class="checkbox" ng-repeat="feature in features.sports">
                                        <label>
                                            <input type="checkbox" checklist-model="property.features.sports" checklist-value="$index+1" ezmark>
                                            <img src="images/sports/{{feature.image}}" class=" feature img img-responsive" width="30px">{{feature.name}}
                                        </label>
                                    </div>                     
                                    <!-- /.checkbox-->
                                </div>
                                <!-- /.checkbox-list -->
                                 <label>Leisure</label>
                                <div class="checkbox-list">
                                    <div class="checkbox" ng-repeat="feature in features.leisure">
                                        <label>
                                            <input type="checkbox" checklist-model="property.features.leisure" checklist-value="$index+1" ezmark>
                                            <img src="images/leisure/{{feature.image}}" class=" feature img img-responsive" width="30px">{{feature.name}}
                                        </label>
                                    </div>                     
                                    <!-- /.checkbox-->
                                </div>
                                <!-- /.checkbox-list -->
                                 <label>Environment</label>
                                <div class="checkbox-list">
                                    <div class="checkbox" ng-repeat="feature in features.environment">
                                        <label>
                                            <input type="checkbox" checklist-model="property.features.environment" checklist-value="$index+1" ezmark>
                                            <img src="images/environment/{{feature.image}}" class=" feature img img-responsive" width="30px">{{feature.name}}
                                        </label>
                                    </div>                     
                                    <!-- /.checkbox-->
                                </div>
                                <!-- /.checkbox-list -->
                                 <label>Safety</label>
                                <div class="checkbox-list">
                                    <div class="checkbox" ng-repeat="feature in features.safety">
                                        <label>
                                            <input type="checkbox" checklist-model="property.features.safety" checklist-value="$index+1" ezmark>
                                            <img src="images/safety/{{feature.image}}" class=" feature img img-responsive" width="30px">{{feature.name}}
                                        </label>
                                    </div>                     
                                    <!-- /.checkbox-->
                                </div>
                                <!-- /.checkbox-list -->
                                 <label>Convenience</label>
                                <div class="checkbox-list">
                                    <div class="checkbox" ng-repeat="feature in features.convenience">
                                        <label>
                                            <input type="checkbox" checklist-model="property.features.convenience" checklist-value="$index+1" ezmark>
                                            <img src="images/convenience/{{feature.image}}" class=" feature img img-responsive" width="30px">{{feature.name}}
                                        </label>
                                    </div>                     
                                    <!-- /.checkbox-->
                                </div>
                                <!-- /.checkbox-list -->



                                         

                                 
                                 <div class="center">
                                     <span class="btn btn-primary" ng-click="saveProperty(property)">Submit Property</span>
                                 </div>
                                 <!-- /.center -->
                             </form>
                         </div>
                         <!-- /.content -->
                        </div>
                    </div>
                 </div>
         </div>
     </div>
 </div>
             <!-- /.row -->